{% load compress %}
{% load static %}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django + HTMLX + Tailwind CSS</title>

    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>
<body class="bg-blue-100">
    {% block content %}
    {% endblock content %}

    {% compress js %}
        <script type="text/javascript" src="{% static 'src/htmx.js' %}"></script>
    {% endcompress %}

    <script>
        document.body.adEventListener('htmx.configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'
        }
        )
    </script>
</body>
</html>
